favorites=xfce4-web-browser.desktop,xfce4-file-manager.desktop,xfce4-terminal-emulator.desktop,mousepad.desktop
recent=
button-title=Inicio
# Ruta absoluta al alien Yaya -> ignora el 'distributor-logo' (bandera Windows)
# del set de iconos Windows-10-Icons.
button-icon=/usr/share/icons/hicolor/scalable/apps/yaya-logo.svg
button-single-row=false
show-button-title=false
show-button-icon=true
launcher-show-name=true
launcher-show-description=false
launcher-show-tooltip=true
item-icon-size=2
hover-switch-category=true
category-show-name=true
category-icon-size=1
load-hierarchy=false
view-as-icons=false
default-category=1
recent-items-max=10
favorites-in-recent=true
position-search-alternate=true
position-commands-alternate=true
position-categories-alternate=true
stay-on-focus-out=false
confirm-session-command=true
menu-width=450
menu-height=550
menu-opacity=100
command-settings=xfce4-settings-manager
show-command-settings=true
command-lockscreen=xflock4
show-command-lockscreen=true
command-logout=xfce4-session-logout --logout --fast
show-command-logout=true
command-shutdown=xfce4-session-logout
show-command-shutdown=true
search-actions=0
